<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579306392370-25svnku39crsv1pm8609bpk35sbhhnl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579306392370-25svnku39crsv1pm8609bpk35sbhhnl1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579306392370-bav1o63ojoqhmj5fuc6uq1oh500km02f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUsbGJL2fFjCT0MWHakMc717C31M9YcCY</string>
	<key>GCM_SENDER_ID</key>
	<string>579306392370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilhaaam24.habitflow</string>
	<key>PROJECT_ID</key>
	<string>habit-flow-79f0a</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-flow-79f0a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579306392370:ios:9993038e4dad238968252b</string>
</dict>
</plist>